@model IEnumerable<TLH.Entity.Player>
@using Microsoft.AspNetCore.Identity
@using TLH.Entity
@inject SignInManager<Users> SignInManager
@{
    ViewData["Title"] = "Index";
}

<br/>
<br/>
<br/>
<br/>
<br/>

@if (SignInManager.IsSignedIn(User))
{
    <p>
        <button class="button" asp-action="Create">Create New</button>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Merit)
            </th>
            @if (SignInManager.IsSignedIn(User))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Merit)
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
}
    </tbody>
</table>
